.prova button {
    width: 15%;
    height: 30px;
    padding: center;
    margin-top: 20px;
    margin-left: 8%;
    color: black;
    border: solid thin black;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    background-color: #00C0FF;
    float: left;

}

.prova button:hover {
    background-color: dodgerblue;
}
