.prova button {
    width: 15%;
    height: 30px;
    padding: center;
    margin-top: 20px;
    margin-left: 8%;
    color: black;
    border: solid thin black;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    background-color: #00C0FF;
    float: left;

}

.prova button:hover {
    background-color: dodgerblue;
}

.articoloHome {
    float: left;
    width: 50%;
    margin-top: 50px;
    }

.boxArticoloHome {
    margin-left: 20%;
    width: 60%;
    border: solid yellow;
}

.immagineArticoloHome {
    width: 100%;
    float: left;
}

.immagineArticoloHome img {
    float: left;
    width: 400px;
    height: 400px;
}

.titoloArticoloHome {
    float: left;
    width: 100%;
    text-align: center;
    background-color: aqua;
}

.testoArticoloHome {
    float: left;
    width: 97%;
    padding: 5px;
    background-color: red;
}
