* {
    margin: 0;
}

.foto {
/* Box che racchiude la galleria di foto*/
margin-top : 30px;
width : 100%;
}

.foto img {
/* Anchor dove è collegata la foto*/
width : 18%;
margin-left: 5.6%;
float: left;
}

.contenutoHomePage {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
