.aggiungiArticolo {
    float: left;
    width: 100%;
    font-size: 20px;
}

.aggiungiArticolo h4 {
    margin-top: 5px;
    margin-bottom: 5px;

}

.sceltaCittaTipologia {
    float: left;
    padding-left: 15px;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}

.sceltaCittaTipologiaBis {
    float: left;
    padding-left: 15px;
    width: 15%;
    text-align: left;
    margin-bottom: 30px;
}

.bottonePubblica {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.pubblica {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    border-radius: 5px 5px 5px 5px;
}
