/*======== bottoni ===========*/

@media only screen and (max-width: 1169px) {

    .bottoniEventi a {
        font-size: 0.9em;
        width: 18%;
        margin-left: 5.6%;
    }

}

/*=========== tablet ==========*/

@media only screen and (max-width: 910px) {

    .hamburger {
        display: inline-block;
        margin-top: 0.45em;
        margin-right: 1em;
        margin-left: 0.5em;
    }

    .linea1,
    .linea2,
    .linea3 {
        width: 35px;
        height: 5px;
        background-color: #000000;
        margin: 6px 0;
        transition: 0.4s;
    }


    .topnav {
        display: none;
    }

    .bottoniEventi a {
        margin-left: 16%;
        width: 26%;
    }

    .boxFotoCitta {
        width: 35%;
        margin-left: 10%;
        margin-bottom: 4em;
    }

    .articoloHome {
        width: 80%;
        border: 1.5px solid #000000;
        border-radius: 0px 30px 0 30px;
        margin-left: 10%;
        height: auto;
    }

    .boxArticoloHome {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .immagineArticoloHome {
        width: 40%;
        margin-right: 0.7em;
    }

    .immagineArticoloHome img {
        border-radius: 0px 0px 0px 25px;
    }

    .titoloArticoloHome {
        width: 55%;
        padding: 0px;
        margin-bottom: 0.3em;
    }

    .testoArticoloHome {
        width: 55%;
        height: auto;
        padding: 0;
        padding-bottom: 5px;
    }

    .footer {
        height: 11.5em;
    }

    .sezioneMobile {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        font-size: 1.4em;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        background: #00b8e6;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin-top: 2.5em;
    }

    .upnav {
        border-bottom: 2px solid #0000cc;
        position: fixed;
    }

    .titoloContatti {
        display: none;
    }

    .contatti {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 3em;
        margin-top: 1em;
    }

    .sede {
        width: 100%;
        margin-bottom: 1em;
        margin-right: 0;
    }

    .contatti {
        width: 70%;
        margin-left: 15%;
    }

    .box {
        margin-left: 5%;
        text-align: center;
        width: 80%;
    }

    .contatti hr {
        margin-right: 0;
    }

    .comeContattarci {
        text-align: center;
        margin-left: 0;
    }

    .eliminaEvento {
        font-size: 1em;
        padding-top: 1.1em;
    }

    .logo {
        margin-left: 1em;
    }

    .ricercaGrande {
        display: none;
    }

    .ricercaPiccola {
        float: left;
        width: 100%;
    }

    .ricercaPiccola input[type=text] {
        float: left;
        width: 70%;
        border-radius: 20px;
        margin-left: 15%;
        font-size: 1em;
        border: 1px solid #cccccc;
    }

    .messaggioSpeciale {
        display: none;
    }

    .testa {
        width: 60%;
        font-size: 1.5em;
    }

    .inserisciDati fieldset {
        width: 60%;
    }

    .input2 {
        width: 60%;
    }

    .logout button {
        font-size: 1.4em;
    }

    .linkAccessoRegistra {
        font-size: 1.3em;
    }

    .aggiungiArticolo {

    }

    .sceltaCittaTipologia {

    }
}

/*========== smartphone ===========*/

@media only screen and (max-width: 670px) {

    .boxFotoCitta {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 3.5em;
    }


    .ricercaHome {
        display: none;
    }

    .centro {
        display: none;
    }

    .logo {
        display: none;
    }

    .miniLogo {
        display: inline-block;
        width: 34%;
        text-align: center;
    }

    .miniLogo img {
        width: 4.5em;
    }

    .parolaLogin {
        display: none;
    }

    .sinistra {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1em;
    }

    .sinistra img {
        margin-top: 0.4em;
    }

    .destra {
        float: left;
        width: 100%;
        text-align: center;
    }

    hr {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .footer {
        height: 19em;
    }

    .account {
        display: block;
        float: left;
        width: 33%;
    }

    .account img {
        width: 100%;
        margin-left: 0.4em;
        width: 3.5em;
    }

    .bottoniEventi a {
        width: 60%;
        margin-left: 20%;
        margin-top: 1.1em;
    }



    .immagineArticoloHome {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .immagineArticoloHome img {
        border-radius: 0px 25px 0px 0px;
    }

    .titoloArticoloHome {
        width: 100%;
    }

    .testoArticoloHome {
        width: 100%;
        margin-bottom: 0.5em;
    }


    .fotoHome {
        display: none;
    }

    .imgCitta {
        display: none;
    }

    .sezioneMobile {
        margin-top: 2.5em;
    }

    .foto {
        padding-top: 2em;
    }

    .inserisciAcquistaBiglietto input {
        margin-left: 5%;
        width: 86%;
    }

    .tornaIndietro {
        float: left;
        margin-left: 17%;
        margin-bottom: 0.5em;
    }

    .boxTitolo {
        width: 100%;
    }

    .boxDataEvento {
        width: 70%;
        margin-top: 0;
    }

    .boxEliminaEvento {
        width: 30.004%;
        margin-top: 0;
    }

    .immagineTesto img {
        width: 86%;
    }

    .contatti {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 2em;
    }

    .comeContattarci {
        margin-bottom: 0.6em;
    }

    .contatti hr {
        margin-bottom: 0.6em;
        margin-left: 0;
        margin-right: 0;
    }

    .box {
        margin-left: 0;
        width: 100%
    }

    .contatto {
        padding-top: 1.3em;
        font-size: 1.1em;
    }

    .testoSede {
        margin-bottom: 0;
    }

    .indirizzo img {
        margin-top: 1.5em;
    }
}
