@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: verdana;
}

body {
    background-color: #ffffff;
}

/*============HEADER============*/

.upnav {
    float: left;
    overflow: hidden;
    background-color: #43ccff;
    position: sticky;
    width: 100%;
    height: 3.4em;
}

.account {
    display: none;
}

.hamburger {
    float: right;
    display: none;
    cursor: pointer;
}

.linea1, .linea2, .linea3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .linea1 {
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    -o-transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .linea2 {opacity: 0;}

.change .linea3 {
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#menuAccedi {
    display: none;
    float: left;
    width: 99%;
    padding-left: 1%;
    background: #80e5ff;
    position: fixed;
    top: 3.4em;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    z-index: 1;
}

#menuAccedi a:link {
    color: #000000;
    text-decoration: none;
}

#menuAccedi a:visited {
    color: #000000;
    text-decoration: none;
}


#menuMobile {
    display: none;
    float: left;
    width: 100%;
    background: #80e5ff;
    position: fixed;
    top: 3.4em;
    text-align: center;
    z-index: 1;
}

#menuMobile a {
    width: 50%;
    float: left;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#menuMobile a:hover {
    background-color: #00b8e5;
}

#menuMobile a:link {
    color: #000000;
    text-decoration: none;
}

#menuMobile a:visited {
    color: #000000;
    text-decoration: none;
}


.logo {
    float: left;
    margin-left: 2em;
    margin-top: 8px;
    height: 40px;
    width: auto;
}

.miniLogo {
    float: left;
    margin-top: -0.6em;
    display: none;
}


.lenteSearch button {
    float: right;
    border: 1.5px;
    margin-right: 0.625em;
    margin-top: 9px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-left: #ffffff;
    background-color: #ffffff;
    border-color: #000000;
    width: 4.2em;
    height: 35px;
}

.lenteSearch img {
    width: 30px;
}


.parolaLogin {
    float: right;
    margin-top: 0.9em;
    text-align: center;
    font-size: 1.1em;
    margin-right: 0.7em;
}

.parolaLogin a:link {
    color: #000000;
    text-decoration: none;
}

.parolaLogin a:visited {
    color: black;
    text-decoration: none;
}

.ricerca input[type=text] {
    float: right;
    padding: 3.5px;
    border: 1.5px solid #000000;
    margin-right: 0em;
    font-size: 13px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: left;
    margin-top: 9px;
    height: 25px;
}

.ricercaGrande {
    display: block;
}


.topnav {
    float: left;
    margin-top: 0;
    overflow: hidden;
    background-color: #43ccff;
    width: 100%;
    height: 3em;
}

div.topnav {
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 0.8em 1.1em;
    text-decoration: none;
    font-size: 1em;
}

.topnav a:hover {
    border-bottom: 0.25em solid #0000ff;
}

.topnav a.active {
    border-bottom: 0.25em solid #0000ff;
}



/*==============FOOTER==============*/


.footer {
    float: left;
    background-color: #43ccff;
    width: 100%;
    bottom: 0em;
    height: 10.5em;
    clear: both;
    margin-top: 2em;
    font-size: 0.9em;
    line-height: 1.4;
}

.sinistra {
    float: left;
    width: 33%;
    text-align: center;
    margin-left: 0.6em;
    margin-top: 0.3em;
}

.sinistra img {
    width: 2.1em;
    margin-left: 1.5%;
    margin-top: 0.25em;
}

.sinistra img:hover {
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
}

.destra {
    float: right;
    width: 33%;
    text-align: left;
    margin-top: 0.3em;
}

.centro {
    margin-left: 34%;
    text-align: center;
}

.centro img {
    width: 15em;
    margin-top: 0.6em
}

hr {
    margin-right: 4%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    height: 0.5px;
    background: #000000;
    border-color: #000000
}

/*============CONTENITORE PAGINE==========*/


.contenitore {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -10em;
}

.spingiGiu {
    height: 10em;
    clear: both;
}

/*============DESCRIZIONE ARTICOLO==========*/

.contorno {
    width: 94%;
    margin: 3%;
}


.inserisciDati fieldset {
    padding: 0.6em;
}

.fieldset {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}

.titoloAcquisto {
    float: left;
    text-align: left;
    width: 70%;
}

.boxTornaIndietro {
    float: left;
    width: 100%;
}

.tornaIndietro {
    float: right;
    font-size: 1.2em;
    border: 2px solid #000000;
    padding: 0.5em;
    border-radius: 13px;
    background: #b3ccff;
}

.tornaIndietro:hover {
    background: #43ccff;
}

.tornaIndietro a:link {
    color: #000000;
    text-decoration: none;
}

.tornaIndietro a:visited {
    color: #000000;
    text-decoration: none;
}

.boxAcquistaBiglietto {
    float: left;
    width: 100%;
}

.scrittaAcquistoBiglietto {
    float: left;
    width: 80%;
    font-size: 1.3em;
    margin-left: 10%;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
}

.numeroBigliettiAcquistoBiglietti {
    float: left;
    width: 80%;
    margin-left: 9%;
    margin-top: 2em;
    font-size: 1.2em;
    text-align: center
}

#calcolatrice {
    font-size: 0.9em;
    margin-left: 0.3em;
    margin-right: 0.3em;
}


.inserisciAcquistaBiglietto {
    float: left;
    width: 80%;
    margin-top: 2em;
    font-size: 1.2em;
    text-align: center;
    margin-left: 10%;
}

.inserisciAcquistaBiglietto input {
    width: 70%;
    margin-left: auto;
    margin-left: auto;
    margin-top: 0.3em;
    font-size: 1em;
    padding: 0.2em;
    border-radius: 10px;
    border: 1.5px solid #999999;
}

.bottonePrenota {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.prenota {
    width: 8em;
    text-align: center;
    font-size: 1.5em;
    background: #b3ccff;
    border: 2px solid #000000;
    border-radius: 10px;
}

.prenota:hover {
    background: #43ccff;
}


/*==============BOX ARTICOLO==============*/

.boxTotaleTitolo {
    width: 86%;
    margin-left: 7%;
}

.boxTitolo {
    float: left;
    width: 59%;
    height: 4em;
    background-color: #000000;
    margin-top: 2em;
    color: #ffffff;

}

.titoloArticolo {
    padding-left: 0.8em;
    padding-top: 0.2em;
    font-size: 1.4em;
    font-weight: bolder;
    text-align: left;
}

.titoloArticolo a:link {
    color: #ffffff;
    text-decoration: underline;
}

.titoloArticolo a:visited {
    color: #ffffff;
    text-decoration: underline;
}

.boxDataEvento {
    float: left;
    width: 28%;
    background-color: #000000;
    margin-right: 0em;
    margin-left: 0em;
    margin-top: 2em;
    color: #ffffff;
    height: 4em;
}

.dataEvento {
    padding: 0.8em;
    font-size: 1em;
    text-align: left;
}

.boxEliminaEvento {
    float: right;
    width: 13%;
    height: 4em;
    margin-top: 2em;
    background: #000000;
    color: #ffffff;
}

.eliminaEvento {
    text-align: center;
    padding-top: 0.8em;
    padding-right: 0.2em;
    font-size: 1.2em;;
    font-weight: bold;
}

.eliminaEvento a:link {
    color: #ffffff;
}

.eliminaEvento a:visited {
    color: #ffffff;
}


.boxImmagineTesto {
    float: left;
    width: 86%;
    height: auto;
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 1em;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    overflow: auto;
}

.immagineTesto {
    border: 1px solid #000000;
}

.immagineTesto p {
    text-align: left;
    padding: 1.3em;
}

.immagineTesto img {
    float: left;
    width: 15em;
    padding: 1.3em 1.3em 0em 1.3em;
}

/* =============== CONTATTI ==============*/

.titoloContatti {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.comeContattarci {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 1.3em;
}

.contatti hr {
    border: 1px solid #0000e6;
    background-color: #0000e6;
    margin-bottom: 1.3em;
    margin-right: 5%;
}

.contatti {
    float: left;
    width: 45%;
    margin-bottom: 0.4em;
    margin-left: 5%;
}

.box {
    float: left;
    width: 100%;
}

.boxLogo {
    float: left;
    width: 3em;
    padding: 0.7em;
}

.numero {
    padding: 0.7em;
    font-size: 1.5em;
}

.contatto {
    padding: 1em;
    font-size: 1.3em;
}

.sede {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.testoSede {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.indirizzo {
    text-align: center;
}

.indirizzo img {
    margin-top: 2em;
    width: 3em;
    margin-bottom: 1.5em;
}

.indirizzo img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.indirizzoCompleto {
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.2em;
}

/*==========HOME=========*/

.fotoHome {
    width: 100%;
}

.foto {
    float: left;
    padding-top: 1.8em;
    width: 100%;
}

.scrittaHome {
    width: 100%;
    float: right;
    padding-top: 1em;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

.boxFotoCitta {
    width: 18%;
    margin-left: 5.6%;
    float: left;
    text-align: center;
}

.boxFotoCitta img {
    float: left;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 0.5em;
}

.boxFotoCitta img:hover {
    -o-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.nomeCittaFoto {
    width: 100%;
}

.nomeCittaFoto a {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.nomeCittaFoto a:link {
    color: black;
    text-decoration: none;
}

.nomeCittaFoto a:visited {
    color: black;
    text-decoration: none;
}

.contenutoHomePage {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/*==========ACCESSO-REGISTRAZIONE==========*/

.boxTesta {
    float: left;
    width: 100%;
    text-align: center;
}

.testa {
    width: 40%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background: #43ccff;
    text-align: center;
    border: 1px solid #002699;
    padding: 1em;
    font-size: 1.3em;
    font-weight: bold;

}

.utente {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 0.8em;
    font-size: 1.8em;
    font-weight: bolder;
}


.inserisciDati {
    float: left;
    width: 100%;
    margin-top: 0.8em;
}

.inserisciDati fieldset {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.input2 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.input {
    width: 100%;
    float: left;
}


.input label {
    float: left;
    width: 100%;
    display: block;
    text-align: left;
    margin: 0.3em;
    margin-top: 1em;
    font-weight: bold;
}

.input input {
    height: 2.5em;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    border: 0.5px solid #999999;
    padding-left: 0.4em;
    margin-bottom: 1em;
}

.logout {
    float: left;
    width: 100%;
}

.logout button {
    background: #ff0000;
    border: solid thin black;
    font-size: 1em;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 0.3em 0.6em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logout button:hover {
    background-color: #ff7c3c;
}

.bottonee input{
    width: 100%;
    float: left;
    padding: 0.5em;
    color: black;
    background: #43ccff;
    text-align: center;
    font-size: 1em;
    border: 1px solid #000000;
    margin-top: 1.3em;
}

.bottonee input:hover {
    background-color: dodgerblue;
}

.box_errore {
    color: red;
    font-weight: bold;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.linkAccessoRegistra {
    color: black;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

.linkAccessoRegistra a:link {
    color: #0000cc;
    text-decoration: underline;
}

.linkAccessoRegistra a:visited {
    color: #0000cc;
    text-decoration: underline;
}


/*==========NUOVI ARTICOLI===========*/

.aggiungiArticolo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    margin-top: 1.2em;
}

.aggiungiArticolo h4 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.sceltaCittaTipologia {
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 1.6em;
}

.sceltaInput {
    float: left;
    width: 90%;
    margin-bottom: 1.5em;
}

.sceltaCittaTipologia textarea {
    width: 98%;
}

.textAreaTesto textarea {
    height: 10em;
}

.titoloImmaginejpg {
    float: left;
    width: 100%;
}

.sceltaCittaTipologiaBis {
    float: left;
    width: 8em;
    text-align: left;
    margin-bottom: 1.6em;
}

.bottonePubblica {
    float: left;
    width: 100%;
    margin-top: 1em;
}

.pubblica {
    padding: 0.7em 2em 0.7em 2em;
    font-size: 0.8em;
    border-radius: 5px 5px 5px 5px;
}

.campoObbligatorio {
    float: left;
    width: 100%;
    font-size: 0.6em;
    margin-top: 1em;
    margin-bottom: 3em;
}


.tornaIndietroNuovoArticolo {
    float: right;
    font-size: 1em;
    border: 1px solid #000000;
    padding: 0.5em;
    border-radius: 13px;
    background: #b3ccff;
    margin-right: 0;
}

.tornaIndietroNuovoArticolo:hover {
    background-color: #43ccff;
}

.tornaIndietroNuovoArticolo a:link {
    color: #000000;
    text-decoration: none;
}

.tornaIndietroNuovoArticolo a:visited {
    color: #000000;
    text-decoration: none;
}

/*============CITTA==========*/

.imgCitta {
    float: left;
    width: 100%;
}

.bottoniEventi a {
    float: left;
    width: 15%;
    height: auto;
    margin-top: 1.3em;
    margin-left: 8%;
    color: black;
    border: 1px solid #000000;
    background-color: #43ccff;
    font-size: 1em;
    text-align: center;
    border-radius: 8px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.bottoniEventi a:hover {
    background-color: dodgerblue;
}

.bottoniEventi a:link {
    color: #000000;
    text-decoration: none;
}

.bottoniEventi a:visited {
    color: #000000;
    text-decoration: none;
}

.articoloHome {
    float: left;
    width: 35%;
    height: 28em;
    margin-left: 9%;
    margin-top: 3.1em;
    border: 1.5px solid #000000;
    border-radius: 0px 30px 0 30px;
    padding: 0.4em;
    background: #ccf5ff;
}

.boxArticoloHome {
    width: 100%;
}

.immagineArticoloHome {
    width: 100%;
    float: left;
}

.immagineArticoloHome img {
    float: left;
    width: 100%;
    border-top-right-radius: 25px;
}

.titoloArticoloHome {
    float: left;
    width: 100%;
    padding: 4px;
    text-align: left;
}

.testoArticoloHome {
    float: left;
    width: 100%;
    padding: 5px;
}

/*========== 404 =============*/

.box404 {
    width: 100%;
    float: left;
    font-size: 1.2em;
    text-align: center;
    margin-top: 7em;
}

.box404 h1 {
    font-size: 7em;
}

.immagine404 {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 1em;
}

.immagine404 img {
    width: 13em;
}

/*========== MESSAGGIO PRENOTAZIONE =============*/

.messaggioPrenotazione {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 0.5em;
    border: 2px solid #000000;
}


/*========== MESSAGGI DI SUCCESSO / ERRORE =============*/

h4.errore {
    color: #ff0000;
    width: 80%;
    margin-left: 3em;
    margin-top: 1em;
}

h4.successo {
    color: #2eb82e;
    width: 80%;
    margin-left: 3em;
    margin-top: 1em;
}

.messaggioSpeciale {
    float: left;
    width: 100%;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
}

.messaggioSpeciale2 {
    float: left;
    width: 40%;
    padding: 0.7em 0 0.7em 0.7em;
    font-size: 1.3em;
    font-weight: bolder;
}

.messaggioSpeciale3 {
    float: right;
    width: 40%;
    padding: 0.7em 0.7em 0.7em 0;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: right;
}

/*========= sezione ============*/

.sezioneMobile {
    display: none;
}
